{% extends '../layout.html' %}
{% block main %}

    <form method="post">
          {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'new_password1'%}
                <br>
                <ul style="color: #00aced"><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul>
            {% endif %}
           <b>{{ field.label }}</b>
            {{ field }}
            {{ field.errors }}

        {% endfor %}

            <br>
        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
            <i class="fa fa-lock fa-lg"></i>&nbsp;
            <span id="payment-button-amount">Save</span>
            <span id="payment-button-sending" style="display:none;">Saving…</span>
        </button>
    </form>

{% endblock %}
