{% extends 'base.html' %}
{% load static %}
{% block main %}

    <div class="main-w3layouts wrapper">


        <div class="main-agileinfo">
            <div class="agileits-top">
                <div style="text-align: center">
                    <a href="/">
                    <img src="{% static 'client/assets/images/1.png' %}" style="height: 200px">
{#                    <img src="{% static 'images/FaceSpace_Logo_White.png' %}">#}
                        </a>
                </div>
                <br>
                {% if form.errors %}
                    <p style="color: yellow">Invalid username or password!</p>
                {% endif %}
             {% if msg %}
                    <p style="color: yellow">Invalid username or password!</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% for error in field.errors %}
                                <p style="color: yellow">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}

                    <input type="submit" value="SIGN IN">
                </form>
                <a style="color: white" id="forgotpassword" href="{% url 'reset-password' %}">Forgot Password?</a>
                <a style="color: white" id="signup" href="{% url 'signup' %}">Create an account</a>
            </div>
        </div>
        <!-- copyright -->

    </div>
    <script>
        var path = window.location.href

        var url = new URL(path);
        var c = url.searchParams.get("next");
        var signup_url=$('#signup').attr('href')
        if (c != null)
            signup_url += '?next=' + c
        console.log(signup_url);
        $('#signup').attr('href',signup_url)
    </script>

{% endblock %}