{% extends 'layout.html' %}
{% load static %}
{% block main %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<canvas id='myChart' height='200' width='400'></canvas>
    <p id="data" hidden>{{ json_data }}</p>
    <p id="graphtitle" hidden>{{ title }}</p>
<script>
var ctx = document.getElementById("myChart")
var data=[]
var data2=JSON.parse(document.getElementById('data').innerText);
var labels = data2.map(function(e) {
   return e.xData;
});
data2.map(function (e) {
    data.push(e.yData)
})
console.log(data2)

let chart = new Chart(ctx, {
    type: 'line',

    data: {

        datasets: [{
            label:document.getElementById('graphtitle').innerText,
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }],
        labels: labels,
    },
    options :{
  scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'No of Images'
      },
        ticks: {
                    beginAtZero: true
                }
    }]
  }
}
});
</script>

{% endblock %}